#my-canvas {
    outline: black 2px solid;
}

/* Effects menu */
#effects-menu {
    width: 150px;
    outline: black 2px solid;
    float: right;
}

label {
    display: block;
}
/* Current matrix display */
table, td {
    border-collapse: collapse;
    border: 1px black solid;
}

td {
    width: 30px;
    height: 30px;
    text-align: center;
}

#current-matrix-ui {
    float: right;
    margin-right: 5px;
}

/* User matrix input */
#user-matrix-form-container {
    width: 40em;
}